<h1>{{ posts|first.topic.name }}</h1>
<table class="table table-bordered">
    <tbody>
        {% for post in posts %}
            <tr>
                <td>
                    <div class="small">
                        {{ post.author.username }}
                        <div>{{ post.createdAt|date('Y-m-d H:i:s') }}</div>
                    </div>
                </td>
                <td>
                    <div class="bb2html">
                        {{ post.description|bb2html|raw }}
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>