<div class="display-table">
    {% for forumData in forums %}
        {% set forum = forumData[0] %}
        <div class="row forum-row">
            <div class="col-xs-12 col-sm-12 col-md-4 forum-col">
                <a href="{{ path('admin_forum_index', {'slug': forum.slug }) }}">{{ forum.name }}</a>
                <div class="small">
                    {{ forum.description }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 forum-col">
                <div>
                    {% transchoice forumData.topicsCount %}
                        {0} there.are.no.topics|{1} there.is.one.topic|]1,4[ there.are.%count%.topics|[4,Inf[ there.are.%count%.topics
                    {% endtranschoice %}
                </div>
                <div>
                    {% transchoice forumData.postsCount %}
                        {0} there.are.no.posts|{1} there.is.one.post|]1,Inf[ there.are.%count%.posts|[4,Inf[ there.are.%count%.posts
                    {% endtranschoice %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 forum-col">
                {% if lastPosts[forum.id] is defined %}
                    {% trans with {'%author%': lastPosts[forum.id].author.username, '%date%': lastPosts[forum.id].createdAt|date('Y-m-d H:i:s')} %}
                        last.post.send.by.%author%.on.%date%
                    {% endtrans %}
                {% else %}
                    {{ 'no.posts'|trans }}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
