<div class="row">
    <div class="col-lg-offset-9 col-lg-3">
        {{ form_start(form) }}
        <div class="input-group">
            {{ form_widget(form.phrase) }}
            <span class="input-group-btn">
                {{ form_widget(form.search) }}
            </span>
        </div>
        {{ form_end(form) }}
    </div>
</div>