<div class="display-table">
    {% for forumData in forums %}
        {% set forum = forumData[0] %}
        {{ include('ValantirForumBundle:Forum:forum-row.html.twig', { 'forum': forum, 'lastPosts': lastPosts, 'forumData': forumData, 'counts': counts, 'child': false }) }}
        {% if forum.children is not empty %}
            {% for child in forum.children %}
                {{ include('ValantirForumBundle:Forum:forum-row.html.twig', { 'forum': child, 'lastPosts': lastPosts, 'forumData': forumData, 'counts': counts, 'child': true }) }}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
