{% for forumData in forums %}
    <div class="display-table main-forum">
        {% set forum = forumData[0] %}
        {{ include('ValantirForumBundle:Forum:forum-row.html.twig', { 
            'forum': forum, 
            'lastPosts': lastPosts, 
            'forumData': forumData, 
            'counts': counts, 
            'isChild': false,
            'perPage': perPage
        }) }}
    </div>
    {% if forum.children is not empty %}
        <div class="display-table children-forum">
            {% for child in forum.children %}
                {{ include('ValantirForumBundle:Forum:forum-row.html.twig', { 
                    'forum': child, 
                    'lastPosts': lastPosts, 
                    'forumData': forumData, 
                    'counts': counts, 
                    'isChild': true,
                    'perPage': perPage
                }) }}
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
